<div>
    <% @all_favorites.each do |favorite| %>
        <div class="card" style="width: 18rem;">
            <%= image_tag favorite.post.image_url %>
            <div class="card-body">
                <p class="card-text"><%=favorite.post.content%>.</p>
            </div>
            
            <div class="card-body">

           
                <div class="post__option">
                    <%=link_to favorite_path(id: favorite.id), method: :delete, data:{ confirm: 'Remove from favorite???'} do %>
                        <span class="material-icons"> thumb_down </span>
                    <% end %>
                </div>
     
            </div>
        </div>
    <% end %>
    <div>
</div>